<script>

var blue_allele_regex = (/([A-Z0-9]+\*\d+:\d+:\d+)(.+)/);
var red_allele_regex = /(\*\d\d$)/;

    function applyColour(event){
                var text = event.target.value;
                if (red_allele_regex.test(text)){
                    event.target.className = "red";
                }
                else if (blue_allele_regex.test(text)){
                    event.target.className = "blue";
                }
                else if (text.length >= 0){
                    event.target.className = "green";
                }
    };
    
    
</script>


<div ng-controller='spreadsheetController'> 

<br /><br /><input type="button" value="Submit" />
    <center><table>
        <tr class="column-label">
            <td ng-repeat="column in columns">{{column}}</td>
        </tr>
        <tr ng-repeat="value in values">
            <td ng-repeat="data in value">
                <div>
                <input type="text" id="inputValue"  ng-model="data.content" 
                class="{{data.color}}" ng-change="change(this.value)" 
                colorize="colorize">
                </div> 
            </td>
        </tr>
    </table></center>
    
</div>
